[buildout]
parts =
    test
    py
    coverage-test

extensions = mr.developer
develop = .
always-checkout = true
auto-checkout =
    odict

[sources]
odict = svn https://svn.plone.org/svn/archetypes/AGX/odict/trunk/

[test]
recipe = zc.recipe.testrunner
eggs =
    zodict [test]
    odict [test]

[py]
recipe = zc.recipe.egg
interpreter = py
eggs = ${test:eggs}

[coverage-test]
recipe = zc.recipe.testrunner
eggs = zodict [test]
defaults = ['--coverage', '../../coverage', '-v', '--auto-progress']
